


body {
    font-family: 'Montserrat', sans-serif;
}

.card-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    opacity:.4;
    }

footer {
    font-family: 'Montserrat', sans-serif;
}   

footer a {
    color: #6c757d;
}

footer a:hover {
    color: white;
}

footer i {
    color: #6c757d;
}

footer i:hover {
    color: white;
}

.fheaderweight {
    font-weight: bold;
}